{{ define "main" }}
<section class="container">
<div class="row vh-100">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
        <img src="img/Sandra.jpg" alt="Sandra Hinder" class="w-55 img-fluid rounded mx-auto img-thumbnail">
    </div>
    <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
        <h1>
            Sandra Hinder
        </h1>
        <p>
            Sandra Hinder started ballet in Richmond, BC and graduated from the prestigious National Ballet School of Canada; Sandra’s extensive training includes Classical Ballet and Creative Movement. Sandra danced professionally with the Pacific Northwest Ballet and moved on to teach dance in order to share her passion for dance and movement! Sandra is a member of the Cecchetti Society of Canada and is very active in the Performing Arts Community.
        </p>
        <form id="contact-form" method="POST" action="https://usebasin.com/f/4946113b2ff4" role="form">
  
            <div class="messages"></div>
    
            <div class="controls">
    
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="form_name">Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                      <label for="form_email">{{ i18n "email" }} *</label>
                      <input id="form_email" type="email" name="email" class="form-control"  required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" rows="4" required data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-send" value="{{ i18n "send" }}">
                </div>
              </div>
             
            </div>
    
            </form>
    </div>
</div>
</section>
{{ end }}